// WARNING: this file generates styles, so DO NOT import multiple times
//
@import './variables';

* {
  box-sizing: border-box;
}

html {
  font: sans-serif;
  height: 100%;
  background: $color-white;
}

body {
  max-width: $page-max-width;
  min-width: $page-min-width;
  width: 100%;
  margin: 0 auto;
  font: 16px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $color-default;
  height: 100%;
}

@media screen and (min-width: $small-page-paddding-width) {
  body {
    padding: 0 $page-padding;
  }
}

@media screen and (max-width: $small-page-paddding-width) {
  body {
    padding: 0 $page-small-padding;
  }
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer {
  font-size: 13px;
  padding-bottom: $section-margin;
  text-align: center;

  .ft-link {
    color: $color-gray;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
