$page-max-width: 980px;
$page-min-width: 320px;
$small-page-paddding-width: 768px;

$page-padding: 45px;
$page-small-padding: 5%;

$section-margin: 32px;
$section-edge-padding: 16px;

$color-default: #333;
$color-white: #fff;
$color-blue: #4078c0;
$color-gray: #767676;
$color-gray-light: #999;

$color-bg-gray-light: #fafafa;
$color-bg-gray: #f5f5f5;
