@import './variables';
@import './common';

.title {
  font-size: 24px;
  margin-bottom: $section-margin;
  padding-left: 8px;
  margin-top: $section-margin;
  border-left: 3px solid $color-gray-light;
  text-transform: uppercase;
}

.archives {
  margin-bottom: $section-margin;

  .archive-link {
    font-size: 16px;
    
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  .archive-date {
    margin-left: 4px;
    color: $color-gray;
    font-size: 14px;
  }
}

.footer {
  text-align: left;
}
